.elementor-365 .elementor-element.elementor-element-b51501d>.elementor-container {
	min-height: 10vh;
}

.elementor-365 .elementor-element.elementor-element-b51501d:not(.elementor-motion-effects-element-type-background),
.elementor-365 .elementor-element.elementor-element-b51501d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-f7bbcfe);
}

.elementor-365 .elementor-element.elementor-element-b51501d {
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	z-index: 2;
}

.elementor-365 .elementor-element.elementor-element-b51501d>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-365 .elementor-element.elementor-element-8ce7a2a.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-365 .elementor-element.elementor-element-8ce7a2a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-365 .elementor-element.elementor-element-8ce7a2a>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 1em 1em 1em 1em;
}

.elementor-365 .elementor-element.elementor-element-8ce7a2a>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-365 .elementor-element.elementor-element-7fdcd08 {
	text-align: left;
}

.elementor-365 .elementor-element.elementor-element-7fdcd08 img {
	width: 100%;
}

.elementor-bc-flex-widget .elementor-365 .elementor-element.elementor-element-b1865a8.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-365 .elementor-element.elementor-element-b1865a8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-365 .elementor-element.elementor-element-b1865a8>.elementor-element-populated {
	padding: 1em 1em 1em 1em;
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-menu-toggle {
	margin-left: auto;
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-1595f95-font-family), Sans-serif;
	font-size: var(--e-global-typography-1595f95-font-size);
	font-weight: var(--e-global-typography-1595f95-font-weight);
	line-height: var(--e-global-typography-1595f95-line-height);
	letter-spacing: var(--e-global-typography-1595f95-letter-spacing);
	word-spacing: var(--e-global-typography-1595f95-word-spacing);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-7ed4b5f);
	fill: var(--e-global-color-7ed4b5f);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main .elementor-item:hover,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-59f7e70);
	fill: var(--e-global-color-59f7e70);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: var(--e-global-color-59f7e70);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-menu-toggle {
	color: var(--e-global-color-7ed4b5f);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown {
	background-color: var(--e-global-color-59f7e70);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a:hover,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a.highlighted,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-menu-toggle:hover {
	color: var(--e-global-color-f7bbcfe);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a:hover,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a.highlighted {
	background-color: var(--e-global-color-59f7e70);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a.elementor-item-active {
	color: var(--e-global-color-f7bbcfe);
	background-color: var(--e-global-color-59f7e70);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown .elementor-item,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-5c9dd88-font-family), Sans-serif;
	font-size: var(--e-global-typography-5c9dd88-font-size);
	font-weight: var(--e-global-typography-5c9dd88-font-weight);
	letter-spacing: var(--e-global-typography-5c9dd88-letter-spacing);
	word-spacing: var(--e-global-typography-5c9dd88-word-spacing);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	margin-top: 24px !important;
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 div.elementor-menu-toggle:hover {
	color: var(--e-global-color-primary);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 div.elementor-menu-toggle:hover svg {
	fill: var(--e-global-color-primary);
}

.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-menu-toggle:hover {
	background-color: var(--e-global-color-secondary);
}

.elementor-bc-flex-widget .elementor-365 .elementor-element.elementor-element-7a54565.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-365 .elementor-element.elementor-element-7a54565.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-365 .elementor-element.elementor-element-7a54565>.elementor-element-populated {
	padding: 1em 1em 1em 1em;
}

.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-search-form {
	text-align: center;
}

.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-search-form__toggle {
	--e-search-form-toggle-size: 41px;
	--e-search-form-toggle-color: var(--e-global-color-fd18482);
	--e-search-form-toggle-background-color: var(--e-global-color-ba0b00f);
	--e-search-form-toggle-icon-size: calc(75em / 100);
}

.elementor-365 .elementor-element.elementor-element-e8920ee.elementor-search-form--skin-full_screen .elementor-search-form__container {
	background-color: var(--e-global-color-0b1426a);
}

.elementor-365 .elementor-element.elementor-element-e8920ee input[type="search"].elementor-search-form__input {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-search-form__input,
.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-search-form__icon,
.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-lightbox .dialog-lightbox-close-button,
.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-lightbox .dialog-lightbox-close-button:hover,
.elementor-365 .elementor-element.elementor-element-e8920ee.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
	color: var(--e-global-color-7ed4b5f);
	fill: var(--e-global-color-7ed4b5f);
}

.elementor-365 .elementor-element.elementor-element-e8920ee:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container {
	border-radius: 3px;
}

.elementor-365 .elementor-element.elementor-element-e8920ee.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
	border-radius: 3px;
}

.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-search-form__toggle:hover {
	--e-search-form-toggle-color: var(--e-global-color-59f7e70);
	--e-search-form-toggle-background-color: #F2295B00;
}

.elementor-365 .elementor-element.elementor-element-e8920ee .elementor-search-form__toggle:focus {
	--e-search-form-toggle-color: var(--e-global-color-59f7e70);
	--e-search-form-toggle-background-color: #F2295B00;
}

@media(max-width:1024px) {
	.elementor-365 .elementor-element.elementor-element-7fdcd08 img {
		width: 88%;
	}

	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-1595f95-font-size);
		line-height: var(--e-global-typography-1595f95-line-height);
		letter-spacing: var(--e-global-typography-1595f95-letter-spacing);
		word-spacing: var(--e-global-typography-1595f95-word-spacing);
	}

	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-5c9dd88-font-size);
		letter-spacing: var(--e-global-typography-5c9dd88-letter-spacing);
		word-spacing: var(--e-global-typography-5c9dd88-word-spacing);
	}

	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown a {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 26px !important;
	}

	.elementor-365 .elementor-element.elementor-element-e8920ee input[type="search"].elementor-search-form__input {
		font-size: var(--e-global-typography-text-font-size);
	}
}

@media(min-width:768px) {
	.elementor-365 .elementor-element.elementor-element-8ce7a2a {
		width: 15%;
	}

	.elementor-365 .elementor-element.elementor-element-b1865a8 {
		width: 74.333%;
	}

	.elementor-365 .elementor-element.elementor-element-7a54565 {
		width: 10%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-365 .elementor-element.elementor-element-8ce7a2a {
		width: 20%;
	}

	.elementor-365 .elementor-element.elementor-element-b1865a8 {
		width: 60%;
	}

	.elementor-365 .elementor-element.elementor-element-7a54565 {
		width: 20%;
	}
}

@media(max-width:767px) {
	.elementor-365 .elementor-element.elementor-element-8ce7a2a {
		width: 30%;
	}

	.elementor-365 .elementor-element.elementor-element-7fdcd08 img {
		width: 100%;
	}

	.elementor-365 .elementor-element.elementor-element-b1865a8 {
		width: 50%;
	}

	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-1595f95-font-size);
		line-height: var(--e-global-typography-1595f95-line-height);
		letter-spacing: var(--e-global-typography-1595f95-letter-spacing);
		word-spacing: var(--e-global-typography-1595f95-word-spacing);
	}

	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-5c9dd88-font-size);
		letter-spacing: var(--e-global-typography-5c9dd88-letter-spacing);
		word-spacing: var(--e-global-typography-5c9dd88-word-spacing);
	}

	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-365 .elementor-element.elementor-element-e21e9a5 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 20px !important;
	}

	.elementor-365 .elementor-element.elementor-element-7a54565 {
		width: 20%;
	}

	.elementor-365 .elementor-element.elementor-element-e8920ee input[type="search"].elementor-search-form__input {
		font-size: var(--e-global-typography-text-font-size);
	}
}