.elementor-343 .elementor-element.elementor-element-55617e7>.elementor-container {
    min-height: 100vh;
}

.elementor-bc-flex-widget .elementor-343 .elementor-element.elementor-element-cc4f648.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-343 .elementor-element.elementor-element-cc4f648.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-343 .elementor-element.elementor-element-cc4f648:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-f7bbcfe);
}

.elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-element-populated>.elementor-background-overlay {
    background-color: transparent;
    background-image: radial-gradient(at top left, var(--e-global-color-59f7e70) 30%, var(--e-global-color-ba0b00f) 0%);
    opacity: 1;
}

.elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-element-populated,
.elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-element-populated>.elementor-background-overlay,
.elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-background-slideshow {
    border-radius: 300px 300px 300px 300px;
}

.elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-element-populated {
    box-shadow: 0px 15px 0px 0px #64137D;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -12% 0% -6% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
    padding: 1em 1em 1em 1em;
}

.elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-343 .elementor-element.elementor-element-ab7c43f>.elementor-widget-container {
    margin: -14% 0% 10% 0%;
}

.elementor-343 .elementor-element.elementor-element-119e366>.elementor-element-populated {
    padding: 1em 10em 1em 1em;
}

.elementor-343 .elementor-element.elementor-element-3f44ec4 {
    text-align: center;
}

.elementor-343 .elementor-element.elementor-element-3f44ec4 .elementor-heading-title {
    color: var(--e-global-color-59f7e70);
    font-family: var(--e-global-typography-e0e1145-font-family), Sans-serif;
    font-size: var(--e-global-typography-e0e1145-font-size);
    font-weight: var(--e-global-typography-e0e1145-font-weight);
    line-height: var(--e-global-typography-e0e1145-line-height);
    letter-spacing: var(--e-global-typography-e0e1145-letter-spacing);
    word-spacing: var(--e-global-typography-e0e1145-word-spacing);
}

.elementor-343 .elementor-element.elementor-element-3f44ec4>.elementor-widget-container {
    margin: 0% 0% -6% 0%;
    padding: 1em 1em 1em 1em;
}

.elementor-343 .elementor-element.elementor-element-cc3a5c8 {
    text-align: center;
}

.elementor-343 .elementor-element.elementor-element-cc3a5c8 .elementor-heading-title {
    color: var(--e-global-color-f7bbcfe);
    font-family: var(--e-global-typography-44c6bce-font-family), Sans-serif;
    font-size: var(--e-global-typography-44c6bce-font-size);
    font-weight: var(--e-global-typography-44c6bce-font-weight);
    line-height: var(--e-global-typography-44c6bce-line-height);
    letter-spacing: var(--e-global-typography-44c6bce-letter-spacing);
    word-spacing: var(--e-global-typography-44c6bce-word-spacing);
}

.elementor-343 .elementor-element.elementor-element-1ba4361 {
    text-align: center;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

@media(min-width:768px) {
    .elementor-343 .elementor-element.elementor-element-cc4f648 {
        width: 40%;
    }

    .elementor-343 .elementor-element.elementor-element-119e366 {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-343 .elementor-element.elementor-element-cc4f648 {
        width: 100%;
    }

    .elementor-343 .elementor-element.elementor-element-119e366 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-343 .elementor-element.elementor-element-cc4f648>.elementor-element-populated {
        margin: 15% 17% 5% 17%;
        --e-column-margin-right: 17%;
        --e-column-margin-left: 17%;
    }

    .elementor-343 .elementor-element.elementor-element-119e366>.elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-343 .elementor-element.elementor-element-3f44ec4 .elementor-heading-title {
        font-size: var(--e-global-typography-e0e1145-font-size);
        line-height: var(--e-global-typography-e0e1145-line-height);
        letter-spacing: var(--e-global-typography-e0e1145-letter-spacing);
        word-spacing: var(--e-global-typography-e0e1145-word-spacing);
    }

    .elementor-343 .elementor-element.elementor-element-cc3a5c8 .elementor-heading-title {
        font-size: var(--e-global-typography-44c6bce-font-size);
        line-height: var(--e-global-typography-44c6bce-line-height);
        letter-spacing: var(--e-global-typography-44c6bce-letter-spacing);
        word-spacing: var(--e-global-typography-44c6bce-word-spacing);
    }

    .elementor-343 .elementor-element.elementor-element-1ba4361 {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(max-width:767px) {
    .elementor-343 .elementor-element.elementor-element-3f44ec4 .elementor-heading-title {
        font-size: var(--e-global-typography-e0e1145-font-size);
        line-height: var(--e-global-typography-e0e1145-line-height);
        letter-spacing: var(--e-global-typography-e0e1145-letter-spacing);
        word-spacing: var(--e-global-typography-e0e1145-word-spacing);
    }

    .elementor-343 .elementor-element.elementor-element-cc3a5c8 .elementor-heading-title {
        font-size: var(--e-global-typography-44c6bce-font-size);
        line-height: var(--e-global-typography-44c6bce-line-height);
        letter-spacing: var(--e-global-typography-44c6bce-letter-spacing);
        word-spacing: var(--e-global-typography-44c6bce-word-spacing);
    }

    .elementor-343 .elementor-element.elementor-element-1ba4361 {
        font-size: var(--e-global-typography-text-font-size);
    }
}